.titleContainer {
  position: relative;
  --maskX: 0;
  --maskY: 0;
}
/* .titleContainer h1 {
  font-size: 10rem;
  line-height: 1.1em;
} */

.titleWrapper {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  cursor: context-menu;
}

.cloneWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  clip-path: polygon(
    0 0,
    calc(var(--maskX) * 1% + (var(--maskY) - 50) * 0.4%) 0,
    calc(var(--maskX) * 1% + (var(--maskY) - 50) * -0.4%) 100%,
    0 100%
  );
}
